.footer {
  background-color: $color-gray;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-gray-light;

  &__address {
    padding-top: 2rem;
    display: flex;
    justify-content: center;

    &-detail {
      font-size: 1.6rem;
    }

    &-icon {
      text-align: center;
      margin-left: 24rem;
      transition: all 0.4s;
      a {
        display: inline-block;
        font-size: 2rem;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      & a:hover {
        transform: scale(1.4);
        color: $color-green;
      }

      & a:hover a:not(:hover) {
        transform: scale(0.7);
      }
    }
  }

  &__navigation {
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    display: inline-block;
    margin-left: 9rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-gray-light;
      background-color: $color-gray;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-green;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  //   &__copyright {
  //     border-top: 1px solid $color-gray-dark;
  //     padding-top: 2rem;
  //     width: 80%;
  //     float: right;
  //   }
}
